@model IEnumerable<VideoModel>

@{
    ViewData["Title"] = "视频列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>抖音视频列表</h2>
<div>
    @foreach (var item in Model)
    {
        <div class="cardBox">
            <div>
                <img src="@item.Cover" />
            </div>
            <div class="bodyBox">
                <p class="title">@item.Title</p>
                <p class="icons">
                    <span class="glyphicon  glyphicon-thumbs-up"></span>  @item.DiggCount
                    <span class="glyphicon glyphicon glyphicon-heart-empty"></span> @item.ForwardCount
                    <span class="glyphicon glyphicon-comment"></span> @item.CommentCount
                    <span class="glyphicon glyphicon-share-alt"></span>  @item.ShareCount
                </p>
                <p class="createdTime">发布于 @item.CreateTimeString</p>
            </div>
        </div>
    }
</div>
<style type="text/css">
    .cardBox {
        width: 200px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        float: left;
        margin-right: 10px;
        padding: 5px;
        padding-top: 15px;
    }

    .headerBox {
        color: #fff;
        padding: 10px;
        font-size: 15px;
        height: 60px;
    }

    .bodyBox {
        padding: 10px;
    }

        .bodyBox p {
            margin-left: 5px;
        }

    h2 {
        text-align: center
    }

    .title {
        font: 700 22px 宋体;
        text-align: left
    }

    .createdTime {
        font: bold 12px 微软雅黑;
        text-align: left
    }

    .icons {
        font: normal 12px 微软雅黑;
        text-align: left
    }

    .glyphicon-heart {
        color: red;
    }
</style>